@import "tailwindcss";
@keyframes infinite-scroll {
  0%   { transform: translateX(0); }
  100% { transform: translateX(-50%); }
}

@theme {
  --animate-infinite-scroll: infinite-scroll 15s linear infinite;
}
